 .bg-img
 {
    height: 93.8vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%), url("../../assets/images/dashbg.jpg")center/cover no-repeat;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;    
} 
.text-center{
    padding-top: 10px;
}
h3{
    color: rgb(142, 212, 212);
}

  
