<app-navbar></app-navbar>
<div class="background">
<div class="container">
    <div class="text-center mt-5">
        <h3> HEY GUYS</h3><br>
        <h5><p>"Pop into the world of popcorn delight! With flavors for every taste bud, from classic butter to adventurous sriracha, our popcorn is the perfect snack for any occasion. Made from healthy, non-GMO corn and packed with fiber, it's guilt-free munching. Take it anywhere – it's light, portable, and ready to fuel your fun! Follow us on our site for tasty recipes and special offers, and don't miss our limited-time flavors. Elevate your snacking with popcorn that's more than just a snack. it's a flavor-packed experience!"<br> <br style="color: rgb(110, 83, 42);">- with Love Team POP-UP</p></h5><br>
        <h6> To Enroll : <a href="register" routerLink="/register" style="color: whitesmoke;"> Click Me </a></h6>
    </div>
</div>
</div>

