/* You can add global styles to this file, and also import other style files */
*{
    background-attachment: scroll;
    background-clip: border-box;
    -webkit-background-composite: border;
  
    
}